@import '../../global.scss';
.st0 {
	stroke: $black;
	stroke-width: 2;
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.st1 {
	stroke: $black;
	stroke-width: 2;
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.icon {
	width: 7vw;
	height: auto;
}
